<p>dashboard works!</p>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>One</a>
      <ng-template ngbNavContent>
       tab1
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Two</a>
      <ng-template ngbNavContent>
        tab2
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Three</a>
      <ng-template ngbNavContent>
        tab3
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  <pre>Active: {{ active }}</pre>
